; Enable xdebug extension module
zend_extension=/usr/lib64/php/modules/xdebug.so
;xdebug.default_enable=1
xdebug.remote_enable=on
xdebug.remote_port=9001
xdebug.remote_handler=dbgp
;xdebug.remote_autostart=1
xdebug.remote_host=localhost
;xdebug.profiler_enable_trigger = 1
;xdebug.remote_connect_back=1
xdebug.idekey="root"
